.App.dark {
  --bg-color: #1e1e1e;
  --secondary-bg-color: #562135;

  --font-color: #fff;
  --secondary-font-color: rgb(194 194 194);

  --button-color-primary: #5f0120;
  --button-color-dark-primary: #3e0115;
  --button-color-secondary: #084800;
  --button-color-dark-secondary: #063000;
}
